<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>first</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.css">

</head>
<body>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script language="JavaScript" type="text/javascript" src="https://cdn.bootcss.com/holder/2.9.4/holder.js"></script>

<script type="text/javascript">
    $(function () {
        $(".btn").dropdown("toggle");

        $("#dropdown").on("show.bs.dropdown",function () {
            $(this).children('[data-toggle="dropdown"]').html('显示下拉菜单 <i class="caret"></i>');
            alert("显示下拉菜单");
        });
        $("#dropdown").on("shown.bs.dropdown",function () {
            $(this).children('[data-toggle="dropdown"]').html('下拉菜单显示完毕 <i class="caret"></i>');
            alert("下拉菜单显示完毕");
        });
        $("#dropdown").on("hide.bs.dropdown",function () {
            $(this).children('[data-toggle="dropdown"]').html('隐藏下拉菜单 <i class="caret"></i>');
            alert("隐藏下拉菜单");
        });
        $("#dropdown").on("hidden.bs.dropdown",function () {
            $(this).children('[data-toggle="dropdown"]').html('下拉菜单隐藏完毕 <i class="caret"></i>');
            alert("下拉菜单隐藏完毕");
        });

    })

</script>

<div class="dropdown" id="dropdown">
    <a href="#" class="btn btn-info" data-toggle="dropdown">下拉菜单<i class="caret"></i></a>
    <ul class="dropdown-menu">
        <li><a href="#">菜单项1</a></li>
        <li><a href="#">菜单项2</a></li>
        <li><a href="#">菜单项3</a></li>
    </ul>
</div>




</body>
</html>
